@font-face {
   font-family: oswald-light;
   src: url(/assets/fonts/oswald/Oswald-Light.ttf);
}
@font-face {
   font-family: open-sans;
   src: url(/assets/fonts/open-sans/OpenSans-Light.ttf);
}
@font-face {
   font-family: playball;
   src: url(/assets/fonts/playball/playball.ttf);
}